@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

$pink: #fc037b;
$purple: #d83ffa;
$black: #000000;
$white: #ffffff;


body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(70deg, $pink, $purple,);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: "Poppins", sans-serif;
    #content{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width:80%;
        height: 60px;
        background-color: #ffffffc0;
        border-radius: 50px;
        color: $black;
        font-size: 20px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
        transition: all 500ms ease;
        position: relative;
        z-index: 2;
        overflow: hidden;
        &:hover{
            background-color: $white;
        }
    }
    .butoon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 40px;
        background: linear-gradient(70deg, $purple,$pink);
        text-decoration: none;
        border-radius: 50px;
        color: $black;
        font-size: 15px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
        transition: all 500ms ease;
        &:hover{
            box-shadow: 0 0 20px 0 #ffffff4d;
        }  
    }
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}