@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(70deg, #fc037b, #d83ffa);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
body header h1 {
  text-align: center;
  margin-bottom: 20px;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body main .contenPrestamo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
body main .contenPrestamo .user, body main .contenPrestamo .cantCoutas, body main .contenPrestamo .calculador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 350px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.5215686275);
  padding: 20px 10px;
  border-radius: 10px;
}
body main .contenPrestamo .user .titulo, body main .contenPrestamo .cantCoutas .titulo, body main .contenPrestamo .calculador .titulo {
  font-size: 1.5rem;
}
body main .contenPrestamo .user .usuarios, body main .contenPrestamo .cantCoutas .usuarios, body main .contenPrestamo .calculador .usuarios {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .contenPrestamo .user .usuarios > p, body main .contenPrestamo .cantCoutas .usuarios > p, body main .contenPrestamo .calculador .usuarios > p {
  align-self: start;
  text-decoration: underline;
}
body main .contenPrestamo .user .usuarios .contenUsuario, body main .contenPrestamo .cantCoutas .usuarios .contenUsuario, body main .contenPrestamo .calculador .usuarios .contenUsuario {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .contenPrestamo .user .usuarios .contenUsuario .imagen, body main .contenPrestamo .cantCoutas .usuarios .contenUsuario .imagen, body main .contenPrestamo .calculador .usuarios .contenUsuario .imagen {
  width: 50px;
  height: 50px;
}
body main .contenPrestamo .user .usuarios .contenUsuario .imagen img, body main .contenPrestamo .cantCoutas .usuarios .contenUsuario .imagen img, body main .contenPrestamo .calculador .usuarios .contenUsuario .imagen img {
  width: 100%;
}
body main .contenPrestamo .user .usuarios .contenUsuario .caracteristicas, body main .contenPrestamo .cantCoutas .usuarios .contenUsuario .caracteristicas, body main .contenPrestamo .calculador .usuarios .contenUsuario .caracteristicas {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-left: 10px;
}
body main .contenPrestamo .user .usuarios .contenUsuario .caracteristicas p, body main .contenPrestamo .cantCoutas .usuarios .contenUsuario .caracteristicas p, body main .contenPrestamo .calculador .usuarios .contenUsuario .caracteristicas p {
  font-size: 0.8rem;
}
body main .contenPrestamo .user .usuarios .contenUsuario .resultados, body main .contenPrestamo .cantCoutas .usuarios .contenUsuario .resultados, body main .contenPrestamo .calculador .usuarios .contenUsuario .resultados {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 10px;
}
body main .contenPrestamo .user .usuarios .contenUsuario .resultados div, body main .contenPrestamo .cantCoutas .usuarios .contenUsuario .resultados div, body main .contenPrestamo .calculador .usuarios .contenUsuario .resultados div {
  font-size: 0.8rem;
}
body main .contenPrestamo .calculador .titulo {
  text-align: center;
  font-size: 1.5rem;
}
body main .contenPrestamo .calculador #content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 10px;
  width: 90%;
  background-color: transparent;
  color: #000000;
  font-size: 20px;
}
body main .contenPrestamo .calculador #content input, body main .contenPrestamo .calculador #content select {
  width: 90%;
  height: 30px;
  font-style: italic;
  outline: none;
  padding-left: 10px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  position: relative;
}
body main .contenPrestamo .calculador #content select label {
  position: absolute;
}
body main .contenPrestamo .calculador .butoon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  background: linear-gradient(70deg, #d83ffa, #fc037b);
  text-decoration: none;
  border-radius: 50px;
  color: #000000;
  font-size: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  transition: all 500ms ease;
}
body main .contenPrestamo .calculador .butoon:hover {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3019607843);
}
body main .contenPrestamo .cantCoutas {
  width: 350px;
  gap: 5px;
  justify-content: space-between;
}
body main .contenPrestamo .cantCoutas .titulo {
  text-align: center;
  font-size: 1.5rem;
}
body main .contenPrestamo .cantCoutas #contentCuotas {
  width: 100%;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.5058823529);
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
  font-size: 0.7rem;
  padding: 10px;
}
body main .contenPrestamo .cantCoutas #contentCuotas p {
  margin-left: 2px;
}
body main .contenPrestamo .cantCoutas #montoTotal {
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5058823529);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
body footer {
  position: absolute;
  width: 300px;
  text-align: center;
  bottom: 7px;
  left: 50%;
  transform: translate(-50%, 0%);
}
body footer .copyright {
  font-size: 10px;
  font-weight: 600;
  color: black;
}

@media only screen and (max-width: 1080px) {
  body {
    height: auto;
  }
  body main {
    margin-bottom: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
