@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(70deg, #fc037b, #d83ffa);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
body header h1 {
  text-align: center;
  margin-bottom: 20px;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body main .contenPrestamo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
body main .contenPrestamo .bancos, body main .contenPrestamo .cantCoutas, body main .contenPrestamo .calculador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 350px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.5215686275);
  padding: 20px 10px;
  border-radius: 10px;
}
body main .contenPrestamo .bancos .titulo, body main .contenPrestamo .cantCoutas .titulo, body main .contenPrestamo .calculador .titulo {
  font-size: 1.5rem;
}
body main .contenPrestamo .bancos .macro, body main .contenPrestamo .cantCoutas .macro, body main .contenPrestamo .calculador .macro, body main .contenPrestamo .bancos .citi, body main .contenPrestamo .cantCoutas .citi, body main .contenPrestamo .calculador .citi, body main .contenPrestamo .bancos .santander, body main .contenPrestamo .cantCoutas .santander, body main .contenPrestamo .calculador .santander {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}
body main .contenPrestamo .bancos .macro img, body main .contenPrestamo .cantCoutas .macro img, body main .contenPrestamo .calculador .macro img, body main .contenPrestamo .bancos .citi img, body main .contenPrestamo .cantCoutas .citi img, body main .contenPrestamo .calculador .citi img, body main .contenPrestamo .bancos .santander img, body main .contenPrestamo .cantCoutas .santander img, body main .contenPrestamo .calculador .santander img {
  width: 100px;
}
body main .contenPrestamo .bancos .macro p, body main .contenPrestamo .cantCoutas .macro p, body main .contenPrestamo .calculador .macro p, body main .contenPrestamo .bancos .citi p, body main .contenPrestamo .cantCoutas .citi p, body main .contenPrestamo .calculador .citi p, body main .contenPrestamo .bancos .santander p, body main .contenPrestamo .cantCoutas .santander p, body main .contenPrestamo .calculador .santander p {
  font-size: 0.7rem;
}
body main .contenPrestamo .bancos .macro .cuotas, body main .contenPrestamo .cantCoutas .macro .cuotas, body main .contenPrestamo .calculador .macro .cuotas, body main .contenPrestamo .bancos .citi .cuotas, body main .contenPrestamo .cantCoutas .citi .cuotas, body main .contenPrestamo .calculador .citi .cuotas, body main .contenPrestamo .bancos .santander .cuotas, body main .contenPrestamo .cantCoutas .santander .cuotas, body main .contenPrestamo .calculador .santander .cuotas {
  text-align: center;
}
body main .contenPrestamo .calculador .titulo {
  text-align: center;
  font-size: 1.5rem;
}
body main .contenPrestamo .calculador #content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 10px;
  width: 90%;
  background-color: transparent;
  color: #000000;
  font-size: 20px;
}
body main .contenPrestamo .calculador #content input, body main .contenPrestamo .calculador #content select {
  width: 90%;
  height: 30px;
  font-style: italic;
  outline: none;
  padding-left: 10px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  position: relative;
}
body main .contenPrestamo .calculador #content select label {
  position: absolute;
}
body main .contenPrestamo .calculador .butoon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  background: linear-gradient(70deg, #d83ffa, #fc037b);
  text-decoration: none;
  border-radius: 50px;
  color: #000000;
  font-size: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  transition: all 500ms ease;
}
body main .contenPrestamo .calculador .butoon:hover {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3019607843);
}
body main .contenPrestamo .cantCoutas {
  width: 350px;
  gap: 5px;
  justify-content: space-between;
}
body main .contenPrestamo .cantCoutas .titulo {
  text-align: center;
  font-size: 1.5rem;
}
body main .contenPrestamo .cantCoutas #contentCuotas {
  width: 100%;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.5058823529);
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
  font-size: 0.7rem;
  padding: 10px;
}
body main .contenPrestamo .cantCoutas #contentCuotas p {
  margin-left: 2px;
}
body main .contenPrestamo .cantCoutas #montoTotal {
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5058823529);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
body footer {
  position: absolute;
  width: 300px;
  text-align: center;
  bottom: 7px;
  left: 50%;
  transform: translate(-50%, 0%);
}
body footer .copyright {
  font-size: 10px;
  font-weight: 600;
  color: black;
}

@media only screen and (max-width: 1080px) {
  body {
    height: auto;
  }
  body main {
    margin-bottom: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
